<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Heraghty Travels</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/navigation.css" th:href="@{/css/navigation.css}" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/car.css" th:href="@{/css/car.css}" />
</head>

<body>
<div class="container">
<h1>Heraghty Travel's</h1>
    <div th:replace="navigation">
    </div>
<div class="row">
    <div class="column">
        <img th:src="${images[0]}" height="200px" width="200px" />
    </div>
    <div class="column">
        <img th:src="${images[1]}" height="200px" width="200px"/>
    </div>
    <div class="column">
        <img th:src="${images[2]}" height="200px" width="200px"/>
    </div>
</div>
<hr>

<table align="center" width="400px">
    <tr>
        <th>Make</th>
        <td th:text="${test}"></td>
    </tr>
    <tr>
        <th>Model</th>
        <td th:text="${model}"></td>
    </tr>
    <tr>
        <th>Number of Wheels</th>
        <td th:text="${wheels}"></td>
    </tr>
    <tr>
        <th>Number of doors</th>
        <td th:text="${doors}"></td>
    </tr>
    <tr>
        <th>Engine size</th>
        <td th:text="${enginesize}"></td>
    </tr>
    <tr>
        <th>Colour</th>
        <td th:text="${colour}"></td>
    </tr>
    <tr>
        <th>Fuel type</th>
        <td th:text="${fueltype}"></td>
    </tr>
    <tr>
        <th>Body type</th>
        <td th:text="${shape}"></td>
    </tr>
    <tr>
        <th>Registration number</th>
        <td th:text="${regnumber}"></td>
    </tr>
</table>
</div>
<div class="Description">
    <p>Description</p>
</div>
<div class="description-info">
<p th:text="${description}"></p>
</div>
<br>
<br>
<div class="wrapper">
    <button class="button" style="vertical-align:middle"><span>Buy</span></button>
    <button class="button" style="vertical-align:middle"><span>Rent</span></button>
</div>
</body>
</html>