<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/CarList.css" th:href="@{/css/CarList.css}" />
</head>
<body>
<h1>Heraghty Travel's</h1>
<div class="container" id="Cars">
    <div class="column" th:each="car : ${cars}">
        <img th:src="${car.images[0]}" height="400px" width="400px"/>
        <h2 th:text="${car.make}"></h2>
        <a th:href="@{'/car/details?name='+${car.make}}" class="button" style="vertical-align:middle"><span>More details</span></a>
    </div>
</div>
</body>
</html>